# ===============================
# NODE
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# ===============================
# ENV
# ===============================
.env
.env.local
.env.development
.env.production

# ===============================
# LOGS
# ===============================
logs/
*.log

# ===============================
# DOCKER
# ===============================
docker-data/
postgres-data/
*.pid

# ===============================
# BUILD
# ===============================
dist/
build/

docker-compose.yml

# ===============================
# IDE / EDITOR
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# TEST COVERAGE
# ===============================
coverage/

# ===============================
# TEMP FILES
# ===============================
tmp/
temp/